<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">

    <insert id="addSetmeal" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal(id, category_id, name, price, status, description, image, create_time, update_time, create_user, update_user)
        values (null,#{categoryId},#{name},#{price},#{status},#{description},#{image},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
    <update id="updateSetmeal">
        update setmeal
        <set>
            <if test="categoryId != null"> category_id = #{categoryId}, </if>
            <if test="name != null"> name = #{name}, </if>
            <if test="price != null"> price = #{price}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="description != null"> description = #{description}, </if>
            <if test="image != null"> image = #{image}, </if>
            <if test="createTime != null"> create_time = #{createTime}, </if>
            <if test="updateTime != null"> update_time = #{updateTime}, </if>
            <if test="createUser != null"> create_user = #{createUser}, </if>
            <if test="updateUser != null"> update_user = #{updateUser}, </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteSetmealByIds">
        delete from setmeal where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getSetmealList" resultType="com.sky.vo.SetmealVO">
        select setmeal.id id,category_id,setmeal.name name,price,setmeal.status status,description,image,setmeal.update_time,category.name category_name
        from setmeal left join category on setmeal.category_id = category.id
        <where>
            <if test="name != null">setmeal.name like concat('%',#{name},'%')</if>
            <if test="categoryId != null">and category_id = #{categoryId}</if>
            <if test="status != null">and setmeal.status = #{status}</if>
        </where>
        order by setmeal.create_time desc
    </select>
    <select id="getSetmealVOById" resultType="com.sky.vo.SetmealVO">
        select id,category_id,name,price,status,description,image,update_time from setmeal where id = #{id}
    </select>
    <select id="getDisableStatusCountByIds" resultType="java.lang.Integer">
        select count(*) from setmeal where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and status = 0
    </select>

</mapper>